.cloud {
  position: fixed;
  top: 50%;
  transform: translateY(-50%);
  width: 70%;
  z-index: 1;

  &:nth-child(1) {
    left: -100%;
  }

  &:nth-child(2) {
    transform: translateY(-50%) scale(120%);
    right: 110%;
  }
}