* {
	cursor: none;
}

body:hover .cursor {
	opacity: 1;
}

.cursor {
	mix-blend-mode: difference;
	pointer-events: none;
	display: block;
	height: 32px;
	width: 32px;
	background-color: #fff;
	border-radius: 9999px;
	position: fixed;
	z-index: 9999;
	top: 0;
	left: 0;
	transform: translate(-7.5px, -7.5px);
	opacity: 0;
	transition: opacity 300ms, top 800ms, left 800ms;
}